* {
    box-sizing: border-box;
}


/* Variables */
:root {
    --primary_color: hsla(120, 29%, 29%, 0.616);
    --secondary_color: whitesmoke;
    --sidebar_color:  hsla(120, 15%, 44%, 0.616);
}

body {
    margin: 0%;
    padding: 0;
    line-height: 2.5;
    background-color: var(--secondary_color);
}

h2 {
    text-align: center;
}


div h3 {
    width: 25%;
    background-color: var(--sidebar_color);
    margin: 0;
    padding: 10px 10px 10px 75px;
    font-size: 150%;
    color: gold;
    font-weight: bold;
    
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    /* box-shadow: 0 10px 45px goldenrod; */
    background-color:  var(--primary_color);
}

header h1 {
    color: white;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1
}


    

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

  
nav a {
    text-decoration: none;  
    padding: 5px 10px;
    color: var(--secondary_color);
    margin-right: 10px;
    background-size: 100% 0.4em;
    font-size: 1.5em;
    transition: all 0.25s ease-in;
    background-position: bottom;
    font-size: 1.5rem;
    
}

nav a:hover {
    background-size: 100% 100%;
    color: gold;
}



aside {
    width: 25%;
    padding-left: 15px;
    margin: 0;
    margin-top: 0px;
    float: left;
    font-style: normal;
    background-color: var(--sidebar_color);
  }



img {
      float: left;
      width: 200px;
      height: 280px;
      margin: 0;
      padding: 0;   
}

#portfolio{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary_color);
    width: 75%;
    padding: 40px;
    justify-content: center;
    /* box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4); */
    min-height: 98vh;
   
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 98vh;
    
}

section p {
    text-align: center;
}

.project { 
    border: 8px solid var(--sidebar_color);
    /* background-color: var(--primary_color); */
    /* color: var(--secondary_color); */
    min-height: 200px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    /* background-blend-mode: soft-light; */
}

.project:hover {
   background-color: silver;
}


.project:first-child {
    min-height: 250px;
    flex-basis: 100%;
}

p {
    text-align: justify;
    margin: 10px 15px 10px 15px;
}


.banner {
    /* background: rgb(68, 88, 120); */
    background-image: url("./images/coding_bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 280px;
    padding: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
 

#contact div address {
    color: var(--sidebar_color);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact {
    background-color: var(--secondary_color);
    margin: 0;
    padding: 0;
}





.adventure_game {
    background-image: url("./images/adventure.jpg"); 
    background-size: cover;
}

.obituary {
    background-image: url("./images/obituary.jpg"); 
    background-size: cover; 
}


.group_project {
    background-image: url("./images/group.jpg"); 
    background-size: cover; 
}

.store {
    background-image: url("./images/store.jpg"); 
    background-size: cover; 
}

.memorial {
    background-image: url("./images/memorial.jpg"); 
    background-size: cover; 
}