* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary_color: hsla(120, 29%, 29%, 0.616);
    --secondary_color: whitesmoke;
    --sidebar_color:  hsla(120, 15%, 44%, 0.616);
}

body {
    margin: 0%;
    flex-wrap: wrap;
}

h1 {
    color: white;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    /* background-color: hsla(120, 29%, 29%, 0.616); */
    background-color:  var(--primary_color);
    
}

  nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;   
  }

  
     nav a {
      text-decoration: none;  
      padding: 5px 10px;
      color: var(--secondary_color);
      margin-right: 10px;
      background-size: 100% 0.4em;
      font-size: 1.5em;
  }

  .banner {
      margin-left: 10px;
 
  }


aside {
    width: 25%;
    padding-left: 15px;
    margin: 0;
    margin-top: 0px;
    float: left;
    font-style: italic;
    background-color: var(--sidebar_color);
  }



img {
      float: left;
      width: 200px;
      height: 280px;
      margin: 0;
      padding: 0px 10px 10px 0px;
    

  }

  #portfolio{
      display: flex;
      flex-wrap: wrap;
      background-color: var(--secondary_color);
      width: 75%;
      padding: 40px;
      justify-content: flex-end;
      /* box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4); */
      min-height: 98vh;

  }

  section p {
      text-align: center;
  }

  .project {
      
      width: 50%;
      margin: 50px;
      flex: 1 0 200px;
      padding: 25px;
      border: 8px solid var(--sidebar_color);
      /* background-color: brown; */
      box-shadow: 5px salmon
      
     
    }

  p {
      text-align: justify;
      margin-right: 15px;;
  }

  #portfolio div {
      text-align: center;
  }
  

  .banner {
    /* background: rgb(68, 88, 120); */
    background-image: url("./images/coding_bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin: 0;
  }
 
  .banner p {
    flex: 0 0 90%;
  }

  .banner div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

  }

  .bannerImg {
      display: flex;
      margin: 0px;
      padding: 0
      background-image: url("./images/coding_bg.jpg");
  }

  footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      min-height: 15vh;
      align-items: center;
      background-color: var(--primary_color);
      margin: 0;
      width: 100%;
  }

  .project #pro_title {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
  }


  span {
    color: var(--secondary_color);
    font-size: 22px;

  }

  